{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}добро пожаловать в понел учителя{% endblock %}</title>
        <link href="{% static 'admin/css/base.css' %}" rel="stylesheet">
    </head>
    <body>
    <div id="header">
        <span class="logo">Приборная доска</span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                </li><a href="{% url 'school_list' %}">Список школ</a>
            </ul>
         <ul class="menu">
             <li><a href="{% url 'add_student' %}">создать нового студента</a></li>
              <li><a href="{% url 'add_school' %}">создать новую школу</a></li>
            </ul>
        {% endif %}
        <span>
            {% if request.user.is_authenticated %}
                <h1 class="nav-item nav-link last">{{ user.username }}</h1>
                 {{ request.user.first_name }}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Log-in</a>
            {% endif %}
        </span>
        {% if messages %}
    <ul class="messages">
            {% for message in messages %}
        <li class="{{ message.tags }}">
            {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
            {% endfor %}
    </ul>
            {% endif %}
    </div>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
    </body>
</html>