{% extends 'base.html' %}

{% block content %}
    <div class="post">
        <div class="date">
            {% if user.is_authenticated %}
                <h1>ФИО <a>{{ student_detail.surname }}</a></h1>
                <h2>Email <a>{{ student_detail.mail }}</a></h2>
                <h4><a>Адрес {{ student_detail.address }}</a></h4>
                <h3><a>Группа {{ student_detail.class_student.name_class }}</a></h3>
                            <h3>Пол <a>{{ student_detail.sex }}</a></h3>
                <h3><a>класс - {{ student_detail.class_student.class_number }}</a></h3>
                <h3><a>дата рождения {{ student_detail.date_of_birth }}</a></h3>
            {% endif %}
        </div>
    </div>
{% endblock %}